#topbar-cta-button > a > span {
    background-image: linear-gradient(135deg, rgb(83, 90, 230) 0%, rgb(110, 115, 128) 50%, rgb(153, 154, 178) 100%);
}

/* .dark\:bg-background-dark\/75:is(.dark *) {
    background-color: #0a0a0a;
} */

/* .card {
    background-color: transparent !important;
}

.dark\:bg-codeblock:is(.dark *) {
    background-color: #090923 !important;
} */

/* .border-standard:is(.dark *) {
    border-color: #20213A !important;
}

.dark\:border-gray-800\/50:is(.dark *) {
    border-color: #20213A !important;
} */

:root {
    --primary: 107 113 227;
    --primary-light: 107 113 227;
    --primary-dark: 107 113 227;
    --background-dark: 10 10 10;
    --background-light: 245 245 245;
}