#topbar-cta-button > a > span {
    background-image: linear-gradient(135deg, rgb(146, 106, 255) 0%, rgb(255, 119, 176) 50%, rgb(255, 179, 103) 100%);
}

.dark\:bg-background-dark\/75:is(.dark *) {
    background-color: #05051e;
}

.card {
    background-color: transparent !important;
}

.dark\:bg-codeblock:is(.dark *) {
    background-color: #090923 !important;
}

.border-standard:is(.dark *) {
    border-color: #20213A !important;
}

.dark\:border-gray-800\/50:is(.dark *) {
    border-color: #20213A !important;
}

:root {
    --primary: 202 128 224;
    --primary-light: 202 128 224;
    --primary-dark: 202 128 224;
    --background-dark: 5 5 30;
    --background-light: 245 245 245;
}